/* Move down content because we have a fixed navbar that is 50px tall */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:5%;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/* used to determine the size of the dropdown box located in the master file*/
.dropdown-adjust {
    width: 800px;
}

.dropdown-adjust-genre {
    width: 400px;
}


.align-right {
    text-align: right;
}

.center{
    text-align: center;
}

.fixed {
    position: fixed;
}

.button {
        border: 2px solid #006;
        background: GhostWhite;
        margin-left:1%;
}

.fixedPanel {
        max-height: 600px;
        overflow-y: scroll;
    }

.font{color:black; font-weight:bold;}
/*
    The following CSS impacts the About page
    remove as desired.
*/

.img-circle {
    float: left;
    margin-right: 1em;
}


.firstWord {font: bold;
            font-style:italic;
            font-size:larger;
            color:blueviolet;
}

.pageImg {
    padding: .5em;
}
.documentation {
    padding-right: 4em;
}

.title {
    font-size:small;
}

/*
    Circle buttons
    Source: http://bryanhadaway.com/how-to-create-circles-with-css/
*/

.circle {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 66px;
    border: 4px double #ccc;
    font-size: 20px;
    color: #000;
    line-height: 75px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #E5E4E2;
}

.circle:hover {
        border: 4px double #bbb;
        color: #800000;
        text-decoration: none;
        background: #E5E4E2;
    }

/*Browse movie title h1 style*/
h1 {
font-weight:800;
}

/* CSS used to provide spacing for inpage referencing on About Page 
    This could be used on any of the pages needing the offset from
    the header.
*/
.anchor{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}

.anchorDefault{
  display: block;
  height: 150px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}


/*This style is used in the single page movie and it styles the backdrop and poster images in a flexible layout*/
.display {display:flex; flex-wrap:wrap;}

/*This resizes the panel that have full page width in SMovie and SPerson*/
.panelResizing{
    margin-left:3%;
    margin-right:3%;
    margin-top:1%;
}

/*This resizes the poster image in the SMovie page*/
.imageResize {
    margin-right:-2%;
}

/*This resizes the margins for the cast panel in SMovie*/
.castResize{
    margin-left:6%;
}
/*This resizes the margins for the crew panel in SMovie*/
.crewResize{
    margin-right:6%;
}

.default-links{
    color: white;
    font-family: 'Bubblegum Sans', cursive;
}
/*This resizes the browse panel in the browse page*/
.browsePanel {
    margin-left:2%;
    margin-right:0%;
}

/*adds a margin to the Default page*/
/*This style is also used in the single movie page and it is used to move the top row down away from the nav bar*/
.spaceabove{margin-top:1.5%;}

/*This resizes the person image in the SMovie page*/
.personImage {
    margin-left:6%;
}
/*This resizes the margins for the person important panel information in SPerson*/
.personPanel{
    margin-left:-3%;
}

/*This resizes the margins and aligns the text for the panel located under the person image*/
.personBorn{
    text-align:center;
    margin-left:8%;
}

.personModal{width:52%;}

.backdropModal{width:135%;}

